*.mbox
.env
__pycache__/
*.py[cod]
*$py.class
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
mail_vectordb/
hrishim_vectordb/
processing_checkpoint.json
junk.txt
*.swp
