beautifulsoup4==4.13.3
langchain-core==0.3.37
langchain-text-splitters==0.3.6
langchain-community>=0.0.16
soupsieve==2.6
typing-extensions==4.12.2
langchain>=0.1.0
langchain-nvidia-ai-endpoints>=0.0.3
numpy<2.0.0  # For FAISS compatibility
faiss-cpu>=1.7.4
python-magic>=0.4.27
python-dotenv>=1.0.0
gradio>=4.19.2
requests>=2.31.0